.bottom {
    background-color: $dark-bg;
    color: $light-text-color;
    
    .content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            margin-right: 1rem;
        }

        a {
            color: $light-text-color;
        }
    }
}