.features {
    .content-wrapper {
        text-align: center;
        overflow: hidden;

        img {
            width: 100%;
            margin-bottom: 1rem;

            &:hover {
                transform: scale(1.02);
            }
        }

        &:last-child {
            img {
                max-width: 246px;
            }
        }
    }
}

@media screen and (min-width: 576px) {
    .features {
        .content-wrapper {
            img {
                max-width: none;
                width: auto;
            }
        }
    }
}